
body{
    /* background-color: rgb(238,33,65); */
    background-color: #e64848;
}
.logo img{
    float: left;
    width:300px;
    height: auto;
    margin-left: 30px;
    border-radius: 100px;
    padding: 40px;
}
ul{
    list-style: none;
    float:right;
    height: 40px;
    margin-top: 30px;
    margin-right: 50px;;
}
ul li{
    display: inline-block;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 3px solid transparent;
    padding: 8px;
    transition: 0.6s ease;
}
a:hover{
    background-color:white ;
    color: #000;
}
.active a{
    background-color:white ;
    color: #000;
}
.title{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform:translate(-50%,-50%) ;
}
h1{
    font-size: 50px;
    line-height: 30px;
    color:aliceblue;
}
.part{
    display: flex;
    justify-content: space-between;
    padding: 50;
    width: 70%;
    float: right;
    margin-top: 10%;
    margin-right: 10%;
}
.content{
    padding-right: 40px;
    color:aliceblue;
    line-height: 50px;
    text-align: justify;
    font-size: 20px;
}
.part img{
    height:250px;
    padding-right: 70px;
}
@media(min-width:320px) and (max-width:480px){
    .logo img {
        float: left;
        width: 115px;
        height: auto;
        margin-left: -31px;
        border-radius: 100px;
        padding: 32px;
    }
    .title {
        width: 86%;
        margin: auto;
        text-align: center;
        padding-top: 28px;
        position: absolute;
        left: 48%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    h1 {
        font-size: 40px;
        line-height: 30px;
        color: aliceblue;
    }
    .part {
        display: flex;
        justify-content: space-between;
        padding: 102px;
        width: 69%;
        float: right;
        margin-top: 12%;
        margin-right: 13%;
    }
    ul {
        list-style: none;
        float: right;
        height: 40px;
        margin-top: -6px;
        margin-right: -48px;
        line-height: 35px;
    }
}
@media(min-width:481px) and (max-width:768px){
    .logo img {
        float: left;
        width: 128px;
        height: auto;
        margin-left: -27px;
        border-radius: 100px;
        padding: 31px;
    }
    .part {
        display: flex;
        justify-content: space-between;
        padding: 128px;
        width: 70%;
        float: right;
        margin-top: 7%;
        margin-right: 12%;
    }
    h1 {
        font-size: 29px;
        line-height: 9px;
        color: aliceblue;
    }
    ul {
        list-style: none;
        float: right;
        height: 0px;
        margin-top: -8px;
        margin-right: 29px;
    }
    .content {
        padding-right: 51px;
        color: aliceblue;
        line-height: 9px;
        text-align: justify;
        font-size: 22px;
    }
}
@media(min-width:769px) and (max-width:1024px){
    .logo img {
        float: left;
        width: 173px;
        height: auto;
        margin-left: 20px;
        border-radius: 100px;
        padding: 25px;
    }
    .content {
        padding-right: -30px;
        color: aliceblue;
        line-height: 20px;
        text-align: justify;
        font-size: 19px;
        margin-top: 94px;
    }
    .part img {
        height: 205px;
        padding-right: 26px;
        margin-top: 93px;
    }

}
